body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

input[type="text"], input[type="button"] {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    width: 50px;
    text-align: center;
}

input[type="text"] {
    width: 210px;
}
